#meu_perfil {
   width: 75%;
   height: 750px; 
   float: left;
   background: #659ec7;
   border: 1px solid #000;
   margin-top: 10px;
   margin-bottom: 8px;
   overflow-y: scroll;
}
 
.foto_aviso {
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   color:  #800000;
   background-color: #fff;
}
 